# Build output
build/
dist/
sdist/
*.egg-info/
*.egg
.eggs/
develop-eggs/
.installed.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.Python
env/
venv/
.venv/
lib/
lib64/
parts/
var/
.python-version

# Test / coverage / type checking
.pytest_cache/
.mypy_cache/
.tox/
.cache
htmlcov/
.coverage
.coverage.*
coverage.xml
nosetests.xml
.hypothesis/

# Environment
.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
